<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMDB</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://localhost:63342/IMDB/templates/IMDB.html?_ijt=nvlombpea6h58ph9r7q93skd7f">

</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div th:each="action, stat : ${actions}" class="col-md-4">
            <div class="card shadow" style="width: 18rem; height: 34rem">

                <div class="card-body text-center">
                    <div>
                        <img class="card-image" th:src="${action.imagine}">
                    </div>

                    <h5 class="card-text text-center m-3" th:text="${action.titlu}">Titlu</h5>

                    <p class="card-text" th:text="${action.rating}">Rating</p>
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="collapse" th:attr="data-target='#' + ${action.id}">Descriere</button>
                    <div th:id="${action.id}" class="collapse">
                        <h7 class="card-text" th:text="${action.descriere}">Descriere</h7>
                    </div>
                    <button class="btn btn-warning btn-sm" id="buttonTrailer" data-toggle="modal" data-target="#myModal"
                            data-th-text="${trailer}">Small
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div th:each="action, stat : ${actions}">
                <div class="modal-header">
                    <h4 class="modal-title">
                    </h4>
                </div>

                <div class="modal-body">
                    <div>
                        <video th:src="${action.trailer}"></video>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

</div>
</div>
</div>

</body>
</html>