<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMDB</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <h2>Genre</h2>
            <div class="list-group">
            <a href="http://localhost:8080/actions" class="list-group-item list-group-item-action">Action</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Comedy</a>
            <a href="#" class="list-group-item list-group-item-action">Horror</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Sci-Fi</a>
            <a href="#" class="list-group-item list-group-item-action">Drama</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Thriller</a>
            <a href="#" class="list-group-item list-group-item-action">Animation</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Romance</a>
            <a href="#" class="list-group-item list-group-item-action">Musical</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>